:root {
    --primary-color: #36B7FF;
    --secondary-color: #2D8FC5;
    --text-md: 2rem;
    --text-sm: 1rem;
    --mg-l: 5rem;
    --mg-md: 2rem;
    --mg-sm: 0.75rem;
    --pg-md: 0.25rem;
}

* {
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--primary-color);
}

div.section-sub {
    height: 50vh;
}

div.section-sub a {
    font-size: var(--text-sm);
    text-decoration: none;
    margin-left: var(--mg-md);
}

div.section-sub a:hover {
    background-color: var(--secondary-color);
    padding: var(--pg-md);
}

div.section-sub h2 {
    background-color: var(--secondary-color);
    display: inline-block;
    font-size: var(--text-md);
    margin-top: var(--mg-sm);
    margin-left: var(--mg-md);
    padding: var(--pg-md);
}

div.section-sub p {
    font-size: var(--text-sm);
    margin-left: var(--mg-l);
    margin-right: var(--mg-md);
}

div.grid {
    display: grid;
    grid-template-columns: 50fr 50fr;
}

div.grid-left {
    display: grid;
    grid-template-columns: 60fr 40fr;
}

div.bg-image {
    background-size: cover;
    background-position: 50% 50%;
}

@media all and (max-width: 1050px) and (min-width: 0px) {
    :root {
        --text-md: 1rem;
        --text-sm: 0.75rem;
        --mg-md: 0.5rem;
        --mg-sm: 0.2rem;
    }
}