* {
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
}

header {
    background-color: #2D8FC5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

li {
    border-right: 3px solid white;
}

li:last-child {
    border-right: none;
}

nav a {
    display: block;
    padding: 8px;
    background-color: #2D8FC5;
    text-decoration: none;
}

nav a:hover {
    background-color: #36B7FF;
}

nav li {
    float: left;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #2D8FC5;
    border: 3px solid white;
    border-radius: 10px;
    padding: 0;
}

nav {
    padding-right: 40px;
}

.image-logo {
    width: 23.6vh;
}

.image-main {
    height: 90vh;
    width: 100%;
}

.main-title {
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-main {
    top: 50%;
    left: 50%;
    z-index: 2;
}

.overlay-logo {
    position: absolute;
    top: 10%;
    left: 0%;
    z-index: 2;
}

.overlay-title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

.primary-background {
    background-color: #36B7FF;
}